body {
    font-family: "Calibri";
}

section {
    text-align: center;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 200px;
    margin: 100px auto;
}
 
.cell {
  font-family: "Permanent Marker", cursive;
  width: 350px;
  height: 180px;
  box-shadow: 1px;
  border: 2px;
  cursor: pointer;

  line-height: 200px;
  font-size: 60px;
}
