body {
    font-family: "Calibri";
}

section {
    text-align: center;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 200px;
    margin: 100px auto;
}
